/*-- scss:defaults --*/

// fonts
$font-family-sans-serif: 'Fira Code', 'Roboto Mono', monospace !default;

// colors
// $body-bg: #1e1e1e !default; // Dark background
$body-color: #d4d4d4 !default; // Light text
$link-color: #569cd6 !default; // Light blue for links
$selection-bg: #264f78 !default; // Blue selection background

// headings
$presentation-heading-font: 'Fira Code', 'Roboto Mono', monospace !default;
$presentation-heading-color: #61dafb !default; // Light cyan for headings
$presentation-title-color: #ff79c6 !default; // Pinkish color for title

/*-- scss:rules --*/

.reveal a {
  line-height: 1.3em;
  color: $link-color;
}

.reveal .slides {
  background-color: $body-bg;
  color: $body-color;
}

.reveal h1, .reveal h2, .reveal h3 {
  font-family: $presentation-heading-font;
  color: $presentation-heading-color;
}

/* Title styling */
.reveal .slides section .title-slide h1.title {
  color: $presentation-title-color;
}

/* Column styling */
.columns {
  display: flex;
  justify-content: space-between;
}

.column {
  padding: 0 20px; /* Increase padding for more space */
}

.column:not(:last-child) {
  border-right: 2px solid #d4d4d4; /* Add a vertical line */
}
